.wrapper {
    background-color: #eee;
    width: 950px;
    margin: 0 auto;
    position: relative;
}

.wrapper .header {
    /* margin-bottom: 10px; */
    width: 100%;
    font-size: 20px;
    text-align: center;
    background-color: #2bb669;
    color: #fff;
    padding: 15px 0;
}

.wrapper .content {
    width: 100%;
        /* 新增内容 */
        min-height: 580px;
        margin-top: 10px;
}

.wrapper .player-control {
    background-color: #f6f6f8;
    height: 65px;
    width: 100%;
}

.wrapper .content {
    width: 100%;
        /* 新增 */
        position: relative;
}
.w {
    width: 90%;
    margin: 0 auto;
}

.carousel-wrapper {
    width: 100%;
    position: relative;
}

.carousel-container {
    position: relative;
    height: 300px;
    width: 100%;
    overflow: hidden;
}

.carousel-control {
    width: 25px;
    height: 25px;
    line-height: 25px;
    border-radius: 50%;
    border: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2021;
    background-color: rgba(255, 255, 255, .2);
    text-align: center;
    color: rgba(255, 255, 255, .6);
    cursor: pointer;
}	
.carousel-control-left {
    left: 10px;
}

.carousel-control-right {
    right: 10px;
}

.carousel-control-hover {
    background-color: rgba(255, 255, 255, .5);
    color: rgba(255, 255, 255, .9);
}

.carousel-container {
    position: relative;
    height: 300px;
    width: 100%;
}

.carousel-item {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
}

.carousel-item>img {
    width: 100%;
    height: auto;
}

.carousel-indicators {
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
}

.carousel-indicators>li {
    width: 50px;
    height: 4px;
    background-color: rgba(255, 255, 255, .4);
    margin: 15px 2px;
    cursor: pointer;
}

.carousel-indicators>.active {
    background-color: rgba(255, 255, 255, .9);
}

/* 推荐列表的样式 */
.recommend-playlist {
    width: 100%;
    margin: 10px 0;
}

.recommend-playlist-header {
    font-size: 20px;
    padding: 10px 0;
}

.recommend-playlist-container {
    width: 100%;
}

.recommend-playlist-item {
    width: 18%;
}

.recommend-playlist-cover {
    width: 100%;
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    font-size: 0;
}

.recommend-playlist-cover img {
    width: 100%;
    height: auto;
    font-size: 0;
        /* 新增样式 */
        transition: transform .2s linear;
}

.recommend-playlist-cover .recommend-playlist-icon {
    opacity: 0;
    position: absolute;
    bottom: 10px;
    right: 5px;
    color: #ccc;
    font-size: 20px;
            /* 新增样式 */
            transition: opacity .2s linear;
}

.hover .recommend-playlist-icon {
    opacity: 1;
}

/* 新增样式 */
.hover .recommend-playlist-cover img {
    transform: scale(1.1)
}

.recommend-playlist-title {
    margin-top: 5px;
    width: 100%;
}

.wrapper .player-control {
    background-color: #f6f6f8;
    height: 65px;
    width: 100%;
}

.player-control-songinfo {
    width: 15%;
    margin-left: 10px;
    min-height: 80%;
}

.player-control-unit {
    flex-grow: 1;
    margin: 0 20px;
}

.player-control-songinfo .img {
    width: 40%;
    height: 100%;
    overflow: auto;
    border-radius: 5px;
    font-size: 0;
}

.player-control-songinfo .img>img {
    width: 100%;
    height: 100%;
}

.player-control-songinfo .songinfo {
    width: 50%;
}

.player-control-songinfo .songinfo>span {
    margin: 4px;
    margin-left: 6px;
    width: 100%;
}

.player-control-songinfo .songinfo>.songname {
    font-size: 16px;
}

.player-control-songinfo .songinfo>.singer {
    font-size: 14px;
}

.player-control-unit .control {
    font-size: 35px;
}

.player-control-unit .list {
    font-size: 25px;
}

.player-control-unit .song-progress .current-time {
    margin-right: 5px;
}

.player-control-unit .song-progress .total-time {
    margin-left: 5px;
}

.player-control-unit .volume {
    margin-left: 20px;
}

.player-control-unit .volume .volume-icon {
    margin-right: 5px;
}

.player-control-unit .progress {
    height: 4px;
    background-color: #ccc;
    position: relative;
}

.player-control-unit #progress-bar {
    width: 350px;
}

.player-control-unit #volume-bar {
    width: 50px;
}
.player-control-unit .progress .progress-bar{
    position: absolute;
    width:50%;
    height:4px;
    background-color: #4dc376;
}
.player-control-unit .progress .progress-dot{
    position: absolute;
    top:-2px;
    left:-2px;
    width:8px;
    height:8px;
    border-radius: 50%;
    background-color: #4dc376;
}

.player-list{
    position: absolute;
    height: 590px;
    background-color: #f6f6f8;
    right:0;
    top:50px;
    width:40%;
    padding: 0 10px;
    overflow-y: scroll;
    
}

.player-list .player-list-title{
    height: 40px;
    line-height: 40px;
    font-weight: 900;
    border-bottom: 1px solid #e1e1e1;
}
.player-list .player-list-ul{
    margin-top:10px;
}
.player-list .player-list-ul .player-list-li{
    color:#111;
    width: 100%;
    margin: 10px 0;
}

.player-list .player-list-ul .player-list-li .song-name{
    width:50%;
    margin-left: 5px;

}

.player-list .player-list-ul .player-list-li .singer{
    width:25%;
}

.player-list .player-list-ul .player-list-li .song-time{
    width:25%;
}

.player-list .player-list-ul .player-list-li .opacity{
    opacity: 0;
}